<div class="container">
    <div class="text-center">
        <h1>Staff shiff Detail</h1>

        <p class="ng-binding">Detail: This is a working shift</p>
    </div>

    <div class="row">
        <div class="col-lg-4">
            Start time
        </div>
        <div class="col-lg-4">
            End time
        </div>
        <div class="col-lg-4">
            Status
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">

            <div class='input-group date'>
                <input ng-model="shftDetail.startTime" datetime-picker hour="23" minute='59'
                       class="form-control"/>
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
        <div class="col-lg-4">


            <div class='input-group date'>
                <input ng-model="shftDetail.endTime" datetime-picker hour="23" minute='59'
                       class="form-control"/>
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
        <div class="col-lg-4" style="color: #67b168">
            {{shftDetail.status}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            Punch in photo
        </div>
        <div class="col-lg-4">
            Punch out photo
        </div>
        <div class="col-lg-4">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img src="{{shftDetail.startImageLink}}" width="150px" height="150px"/>
        </div>
        <div class="col-lg-4">
            <img src="{{shftDetail.endImageLink}}" width="150px" height="150px"/>
        </div>
        <div class="col-lg-4">
            <span class="btn btn-success" ng-click="updateShift()">Save </span>
        </div>
    </div>

</div>
