<div>

    <div class="text-center">
        <h1>Staff shiffs</h1>

        <p>Detail: {{ message }}</p>
    </div>

    <table class="table table-hover">
        <thead>
        <th>Start time</th>
        <th>In</th>
        <th>End time</th>
        <th>Out</th>
        <th>Total hours</th>
        <th>Status</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr ng-repeat="x in shifts track by $index">

            <th>{{x.startTime}}</th>
            <th><img src="{{x.startImageLink}}" width="150px" height="150px"/></th>
            <th>{{x.endTime}}</th>
            <th>{{x.endImageLink}}</th>
            <th>{{ x.hours}}</th>
            <th>

                <span ng-switch on="x.status">
                    <span ng-switch-when="Created" style="color: #d43f3a">{{x.status}}</span>
                    <span ng-switch-when="Completed" style="color: #4cae4c">{{x.status}}</span>
                </span>
            </th>
            <th>
                <span ng-switch on="x.status">
                    <span class="btn btn-danger" ng-switch-when="Created" style="color: #ffffff"
                          ng-click="endShift(x._id)">End Shift</span>
                    <a href="#/shiftDetail/{{x._id}}" class="btn btn-success" ng-switch-when="Completed"
                       style="color: #ffffff">Edit Shift</a>
                </span>
            </th>

        </tr>
        </tbody>
    </table>
</div>